@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

html, body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: hsl(210, 46%, 95%);
}

.page {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 640px;
    width: 1200px;
    gap: 1%;
    border: solid 1px green;
}

.main-card {
    border: solid 1px blue;
   /* grid-area: 1 / 1 / span 2 / span 1; */
}

.card {
    border-radius: 5px;
    padding: 3% 5% 0 5%;
}

/** Individual Cards **/
/**********************/
.daniel {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: hsl(263, 55%, 52%);
    color: white;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-size: 20% 40%;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 80%;
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
    color: white;
    height: 300px;
}
.kira {
    grid-area: 1 / 4 / span 2 / span 1;
    background-color: white;
}
.jeanette {
    background-color: white;
}
.patrick {
    grid-area: 2 / 2 / span 1 / span 2;
    background-color: hsl(219, 29%, 14%);
    color: white;
    height: 300px;
}
.sub-card {
    border: solid 1px red;
    padding: 5% 5% 0 5%;
}
.long-card {
    border: solid 1px black;
}
.long-card .card-p {
    height: 300px;
    width: 230px;
    margin-top: 20%;
}
.dark-title {
    color: hsl(219, 29%, 14%);
}
.main-msg {
    font-size: 24px;
    height: 70px;
}
.author {
    display: flex;
    align-items: center;
    gap: 3%;
}
img {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    border: solid 1px white;
}
.card-p {
    color: hsl(0, 0%, 81%);
    font-size: 15px;
    height: 80px;
}
.dark-p {
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
}
.verified {
    color: hsl(0, 0%, 81%);
    margin-top: -15%;
}

/*** MOBILE ***/
/**************/
@media only screen and (max-width: 450px) {
    html,body {
        width: 450px;
        margin: 0;
        padding: 0;
        background-color: hsl(210, 46%, 95%);
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1700px;
    }
    .card {
        width: 300px;
        display: flex;
        flex-direction: column;
        
    }
    .daniel {
        height: 340px;
    }
    .daniel .card-p,
    .patrick .card-p {
        margin-top: 15%;
    }
    .jeanette,
    .jonathan{
        height: 220px;
    }
    .patrick {
        height: 320px;
    }
    .kira .dark-p {
        margin-top: 5%;
        width: 300px;
        height: 220px;
    }
    .main-msg {
        font-size: 16px;
        height: 40px;
    }
    .card-p {
        font-size: 12px;
    }
}